# Ignore node_modules
node_modules/

# Ignore environment configuration
config/

# Optional: Ignore dotenv files
.env
.env.local
.env.*.local
config.env

#  Ignore logs
logs
*.log
npm-debug.log*

# OS or IDE-specific files
.DS_Store
.vscode/
